.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
body{
	background-color: white;
	color: black;
}

.title{
	color: white;
	background-color: rgba(0,0,50,0.5);
	padding: 10%;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	}
#title{
	font-size: 70px;
}
.tagline{
	font-style: italic;
	font-size: 25px;
	color: white;
}

.body{
	background-color: rgba(255,255,255,0.5);
	padding: 10%;
	margin: 0%;
	color: black;
}
#body{
	font-size: 25px;
}
.glyphicon {
    font-size: 150px;
}
.btn-arc{ 
	margin-bottom: 2%;
	font-size: 20px;
}
.btn-arc a{
	text-decoration: none;
	color: brown;
}
.btn-arc a:hover{
	color: red;
}
.heading{
	font-size: 25px;	
}